In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def download_save_df(link , num_to_skip):
    data = pd.read_csv(link , skiprows=num_to_skip)
    csv_name = 'electric_utility_data.csv'
    data.to_csv(csv_name)
    print('downloaded to data and saved to {}'.format(csv_name))
    return data

In [3]:
data = download_save_df('https://bit.ly/HDSC-StageOneDataset' ,  0)

downloaded to data and saved to electric_utility_data.csv

In [4]:
data.head(4)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970

In [5]:
#Q1
A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
#Q2
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
#Q3
data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

#gas has the min

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [8]:
#Q4

standard_d_value = data['fuel_mmbtu_per_unit'].std()

percentile_value = data['fuel_mmbtu_per_unit'].quantile(0.75)
print('standard_d_value:{} , percentile_value:{}'.format(standard_d_value , percentile_value))

standard_d_value:10.600220307806714 , percentile_value:17.006

In [9]:
#Q5
Skew_value = data['fuel_qty_burned'].skew()

kurt_value = data['fuel_qty_burned'].kurtosis()
print('Skew_value:{:1.2f} , kurt_value:{:1.2f}'.format(Skew_value , kurt_value))

Skew_value:15.85 , kurt_value:651.37

In [10]:
#Q6
#[i for i in data.isnull().any().any() if data.isnull().any() ==True]
#Fuel unit is the feature with missing values

for i in data:
    if data['{}'.format(i)].isnull().any():
        print('Feature: {} , Total: {}, Percent: {:1.3f}'.format(i , 
                                                            data[i].isnull().sum() , 
                                                            (data[i].isnull().sum()/len(data[i]))*100 ))

Feature: fuel_unit , Total: 180, Percent: 0.610

In [11]:
data['fuel_unit'].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

In [12]:
#Q7
print('type:{} , imputation:{}'.format(data['fuel_unit'].dtype , data['fuel_unit'].mode()))

type:object , imputation:0    mcf
dtype: object

In [13]:
#Q8
data.corr()['fuel_cost_per_unit_burned']
#fuel_qty_burned              
#fuel_mmbtu_per_unit

utility_id_ferc1               -0.037863
report_year                     0.013599
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_unit_burned       1.000000
fuel_cost_per_unit_delivered    0.011007
fuel_cost_per_mmbtu            -0.000437
Name: fuel_cost_per_unit_burned, dtype: float64

In [14]:
#Q9
#tuple(zip(data.groupby(['fuel_type_code_pudl , report_year'])['fuel_cost_per_unit_burned'].pct_change()))

In [15]:
#.groupby([['fuel_type_code_pudl , report_year']])
#data[['fuel_type_code_pudl','report_year']].groupby('fuel_cost_per_unit_burned').pct_change()

In [16]:
#Q10
data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
#1997  -    11140.197239

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [17]:
#please for Q6 i didnt see the field to paste the results until after the timer run down and it popped up as a required field
#and also prior to taking the quiz i thought the code was going to be reviewed before we were graded.